In [58]:
import pandas as pd
import numpy as np

In [5]:
data_gdp = pd.read_csv('A:\kbtu\GDP_annual_growth_NEW.csv')

In [6]:
data_gdp

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.369863,4.198232,0.300000,5.700001,2.100000,1.999999,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.126902,4.846062,4.451771,3.025975,2.294711,3.111469,2.668322,2.050959,-2.929511,NaN
2,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-1.934778,NaN
3,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,1.869754,3.763086,7.312637,5.450582,4.036111,...,5.286321,6.019889,5.908563,2.832693,0.117369,2.278490,2.927756,3.198694,-0.934728,NaN
4,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,8.542188,4.954545,4.822628,0.943572,-2.580050,-0.147213,-2.003630,-0.624644,-4.040510,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.809625,3.441471,1.222801,4.095283,4.070291,4.226086,3.813315,4.941932,-6.888013,NaN
262,"Yemen, Rep.",YEM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.392886,4.823415,-0.188574,-27.994546,-9.375124,-5.071796,0.752447,NaN,NaN,NaN
263,South Africa,ZAF,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,3.844751,6.177883,7.373613,7.939782,6.122761,...,2.213355,2.485201,1.846992,1.193733,0.399088,1.414513,0.787056,0.152583,-6.959604,NaN
264,Zambia,ZMB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,1.361382,-2.490839,3.272393,12.214048,16.647456,...,7.597593,5.057232,4.697992,2.920375,3.776679,3.504336,4.034378,1.441785,-3.016189,NaN
265,Zimbabwe,ZWE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,6.316157,1.434471,6.244345,-1.106172,4.910571,...,16.665429,1.989493,2.376929,1.779873,0.755869,4.699400,3.497160,-8.100000,-8.000000,NaN

In [85]:
co2 = pd.read_csv('A:\kbtu\CO2_emission.csv')

In [77]:
co2

,Country Name,country_code,Region,Indicator Name,1990,1991,1992,1993,1994,1995,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2019.1
0,Aruba,ABW,Latin America & Caribbean,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,South Asia,CO2 emissions (metric tons per capita),0.191745,0.167682,0.095958,0.084721,0.075546,0.068468,...,0.296506,0.259295,0.185624,0.146236,0.172897,0.149789,0.131695,0.163295,0.159824,0.159824
2,Angola,AGO,Sub-Saharan Africa,CO2 emissions (metric tons per capita),0.553662,0.544539,0.543557,0.708984,0.836804,0.912141,...,0.985522,0.950696,1.036294,1.099779,1.135044,1.031811,0.813301,0.777675,0.792137,0.792137
3,Albania,ALB,Europe & Central Asia,CO2 emissions (metric tons per capita),1.819542,1.242810,0.683700,0.638307,0.645355,0.605436,...,1.669423,1.503240,1.533630,1.668337,1.603775,1.557664,1.788786,1.782739,1.692248,1.692248
4,Andorra,AND,Europe & Central Asia,CO2 emissions (metric tons per capita),7.521832,7.235379,6.963079,6.724178,6.541579,6.733479,...,5.850886,5.944654,5.942800,5.807128,6.026182,6.080600,6.104134,6.362975,6.481217,6.481217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Samoa,WSM,East Asia & Pacific,CO2 emissions (metric tons per capita),0.552836,0.609756,0.604266,0.658221,0.592807,0.705675,...,1.066843,1.057703,1.048702,1.092498,1.240246,1.542099,1.586830,1.478626,1.522124,1.522124
211,"Yemen, Rep.",YEM,Middle East & North Africa,CO2 emissions (metric tons per capita),0.567037,0.690937,0.704793,0.627105,0.653256,0.706081,...,0.963978,0.858491,1.106688,1.062211,0.511362,0.399364,0.359622,0.341068,0.380633,0.380633
212,South Africa,ZAF,Sub-Saharan Africa,CO2 emissions (metric tons per capita),6.729799,6.424622,6.175430,6.219194,6.215847,6.378790,...,7.869816,8.077958,8.138264,8.212241,7.669938,7.563739,7.641675,7.515679,7.507736,7.507736
213,Zambia,ZMB,Sub-Saharan Africa,CO2 emissions (metric tons per capita),0.340930,0.349232,0.337224,0.289956,0.241270,0.234153,...,0.217497,0.278601,0.284058,0.304550,0.312355,0.325115,0.404068,0.445489,0.380717,0.380717
214,Zimbabwe,ZWE,Sub-Saharan Africa,CO2 emissions (metric tons per capita),1.585444,1.713321,1.694416,1.539741,1.417186,1.356619,...,0.884886,0.915735,0.919824,0.889104,0.899770,0.785441,0.726297,0.857411,0.802979,0.802979

In [122]:
death = pd.read_csv(r'A:\kbtu\total-cancer-deaths-by-type.csv')

In [123]:
death

,Entity,Code,Year,Deaths - Liver cancer - Sex: Both - Age: All Ages (Number),Deaths - Kidney cancer - Sex: Both - Age: All Ages (Number),Deaths - Lip and oral cavity cancer - Sex: Both - Age: All Ages (Number),"Deaths - Tracheal, bronchus, and lung cancer - Sex: Both - Age: All Ages (Number)",Deaths - Larynx cancer - Sex: Both - Age: All Ages (Number),Deaths - Gallbladder and biliary tract cancer - Sex: Both - Age: All Ages (Number),Deaths - Malignant skin melanoma - Sex: Both - Age: All Ages (Number),...,Deaths - Brain and central nervous system cancer - Sex: Both - Age: All Ages (Number),Deaths - Non-Hodgkin lymphoma - Sex: Both - Age: All Ages (Number),Deaths - Pancreatic cancer - Sex: Both - Age: All Ages (Number),Deaths - Esophageal cancer - Sex: Both - Age: All Ages (Number),Deaths - Testicular cancer - Sex: Both - Age: All Ages (Number),Deaths - Nasopharynx cancer - Sex: Both - Age: All Ages (Number),Deaths - Other pharynx cancer - Sex: Both - Age: All Ages (Number),Deaths - Colon and rectum cancer - Sex: Both - Age: All Ages (Number),Deaths - Non-melanoma skin cancer - Sex: Both - Age: All Ages (Number),Deaths - Mesothelioma - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,1990,851,66,89,983,260,180,47,...,422,996,138,529,3,66,37,539,25,6
1,Afghanistan,AFG,1991,866,66,89,982,263,182,48,...,438,1010,137,535,4,67,37,542,26,7
2,Afghanistan,AFG,1992,890,68,91,989,268,185,51,...,472,1040,137,546,4,69,38,550,26,7
3,Afghanistan,AFG,1993,914,70,93,995,275,189,53,...,505,1062,139,560,5,72,39,555,27,7
4,Afghanistan,AFG,1994,933,71,94,996,282,193,54,...,526,1069,140,575,5,73,39,554,28,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,948,59,145,902,149,87,125,...,104,96,426,988,11,53,40,719,39,16
6836,Zimbabwe,ZWE,2016,966,61,150,932,153,89,129,...,109,100,449,1012,11,54,42,744,40,17
6837,Zimbabwe,ZWE,2017,982,63,154,960,156,91,133,...,112,102,471,1035,12,56,43,767,41,17
6838,Zimbabwe,ZWE,2018,998,66,159,993,160,92,137,...,115,105,495,1059,12,57,44,792,43,17
6839,Zimbabwe,ZWE,2019,1016,68,164,1026,165,95,141,...,118,108,517,1087,12,59,45,818,44,18

<h1>Death</h1>

In [124]:
death = death.loc[:,['Entity', 'Year', 'Deaths - Tracheal, bronchus, and lung cancer - Sex: Both - Age: All Ages (Number)']]
death

,Entity,Year,"Deaths - Tracheal, bronchus, and lung cancer - Sex: Both - Age: All Ages (Number)"
0,Afghanistan,1990,983
1,Afghanistan,1991,982
2,Afghanistan,1992,989
3,Afghanistan,1993,995
4,Afghanistan,1994,996
...,...,...,...
6835,Zimbabwe,2015,902
6836,Zimbabwe,2016,932
6837,Zimbabwe,2017,960
6838,Zimbabwe,2018,993
6839,Zimbabwe,2019,1026

In [125]:
death=death.pivot(index='Entity', columns='Year')

In [126]:
death

                               Deaths - Tracheal, bronchus, and lung cancer - Sex: Both - Age: All Ages (Number)  \
Year                                                                                                        1990
Entity
Afghanistan                                                                   983
African Region (WHO)                                                        22506
Albania                                                                       622
Algeria                                                                      1420
American Samoa                                                                  6
...                                                                           ...
World Bank Lower Middle Income                                             135241
World Bank Upper Middle Income                                             431510
Yemen                                                                         475
Zambia                                                                        289
Zimbabwe                                                                      557

                                                                        \
Year                              1991    1992    1993    1994    1995
Entity
Afghanistan                        982     989     995     996     995
African Region (WHO)             23194   23925   24317   25084   25877
Albania                            637     620     606     588     625
Algeria                           1494    1517    1543    1567    1600
American Samoa                       6       7       7       7       7
...                                ...     ...     ...     ...     ...
World Bank Lower Middle Income  139731  144090  147858  151878  156262
World Bank Upper Middle Income  441323  455581  478540  493440  500741
Yemen                              487     502     517     533     552
Zambia                             303     313     323     333     344
Zimbabwe                           572     591     599     614     632

                                                                ...          \
Year                              1996    1997    1998    1999  ...    2010
Entity                                                          ...
Afghanistan                        994     993     990     987  ...    1136
African Region (WHO)             26778   28020   28640   28851  ...   37006
Albania                            669     701     725     738  ...     826
Algeria                           1592    1585    1579    1596  ...    2415
American Samoa                       8       8       8       8  ...      10
...                                ...     ...     ...     ...  ...     ...
World Bank Lower Middle Income  158715  162072  162949  165089  ...  209161
World Bank Upper Middle Income  510235  519193  531643  553297  ...  812012
Yemen                              569     588     604     628  ...     979
Zambia                             353     361     368     373  ...     494
Zimbabwe                           640     650     666     679  ...     805

                                                                        \
Year                              2011    2012    2013    2014    2015
Entity
Afghanistan                       1164    1199    1229    1264    1300
African Region (WHO)             38241   39517   40724   42029   43456
Albania                            873     906     944     994    1043
Algeria                           2492    2572    2646    2733    2829
American Samoa                      11      11      11      11      12
...                                ...     ...     ...     ...     ...
World Bank Lower Middle Income  216332  224057  231629  237647  249895
World Bank Upper Middle Income  830178  846615  862933  886843  909375
Yemen                             1025    1064    1109    1144    1188
Zambia                             516     534     551     572     593
Zimbabwe                           810     825     844     872     902


Year                              2016    2017    2018     2019
Entity
Afghanistan                       1343    1396    1448     1492
African Region (WHO)             44626   45991   47290    48751
Albania                           1073    1103    1131     1158
Algeria                           2936    3050    3165     3291
American Samoa                      12      12      12       13
...                                ...     ...     ...      ...
World Bank Lower Middle Income  258776  267910  279213   289877
World Bank Upper Middle Income  935720  960905  991412  1028676
Yemen                             1223    1263    1303     1336
Zambia                             618     652     685      717
Zimbabwe                           932     960     993     1026

[228 rows x 30 columns]

In [130]:
death['Deaths - Tracheal, bronchus, and lung cancer - Sex: Both - Age: All Ages (Number)'].columns

Int64Index([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
            2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
            2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019],
           dtype='int64', name='Year')

In [134]:
death.columns

Int64Index([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
            2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
            2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019],
           dtype='int64', name='Year')

<h1>data_gdp</h1>

In [16]:
data_gdp

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.369863,4.198232,0.300000,5.700001,2.100000,1.999999,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.126902,4.846062,4.451771,3.025975,2.294711,3.111469,2.668322,2.050959,-2.929511,NaN
2,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-1.934778,NaN
3,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,1.869754,3.763086,7.312637,5.450582,4.036111,...,5.286321,6.019889,5.908563,2.832693,0.117369,2.278490,2.927756,3.198694,-0.934728,NaN
4,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,8.542188,4.954545,4.822628,0.943572,-2.580050,-0.147213,-2.003630,-0.624644,-4.040510,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.809625,3.441471,1.222801,4.095283,4.070291,4.226086,3.813315,4.941932,-6.888013,NaN
262,"Yemen, Rep.",YEM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.392886,4.823415,-0.188574,-27.994546,-9.375124,-5.071796,0.752447,NaN,NaN,NaN
263,South Africa,ZAF,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,3.844751,6.177883,7.373613,7.939782,6.122761,...,2.213355,2.485201,1.846992,1.193733,0.399088,1.414513,0.787056,0.152583,-6.959604,NaN
264,Zambia,ZMB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,1.361382,-2.490839,3.272393,12.214048,16.647456,...,7.597593,5.057232,4.697992,2.920375,3.776679,3.504336,4.034378,1.441785,-3.016189,NaN
265,Zimbabwe,ZWE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,6.316157,1.434471,6.244345,-1.106172,4.910571,...,16.665429,1.989493,2.376929,1.779873,0.755869,4.699400,3.497160,-8.100000,-8.000000,NaN

In [36]:
data_gdp_info = data_gdp.iloc[:,0:4]

In [37]:
data_gdp_info

,Country Name,Country Code,Indicator Name,Indicator Code
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG
1,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG
2,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG
3,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG
4,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG
...,...,...,...,...
261,Kosovo,XKX,GDP growth (annual %),NY.GDP.MKTP.KD.ZG
262,"Yemen, Rep.",YEM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG
263,South Africa,ZAF,GDP growth (annual %),NY.GDP.MKTP.KD.ZG
264,Zambia,ZMB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG
265,Zimbabwe,ZWE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG

In [42]:
data_gdp_years = data_gdp.iloc[:,34:]

In [41]:
data_gdp_years

,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,7.962872,5.882353,7.307692,8.203903,2.547144,1.185788,7.046874,1.991986,1.238042,7.616588,...,-1.369863,4.198232,0.300000,5.700001,2.100000,1.999999,NaN,NaN,NaN,NaN
1,-0.186462,-2.514585,-1.354085,1.943575,4.445560,5.618804,3.336851,1.777019,2.618888,3.143734,...,3.126902,4.846062,4.451771,3.025975,2.294711,3.111469,2.668322,2.050959,-2.929511,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-1.934778,NaN
3,1.123940,2.695885,-1.148545,-0.296739,1.971769,4.652554,3.708612,3.556131,1.441433,3.534805,...,5.286321,6.019889,5.908563,2.832693,0.117369,2.278490,2.927756,3.198694,-0.934728,NaN
4,0.991359,-5.838281,-23.983417,1.339363,15.000000,13.544370,7.274277,4.691146,2.181490,3.054624,...,8.542188,4.954545,4.822628,0.943572,-2.580050,-0.147213,-2.003630,-0.624644,-4.040510,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.809625,3.441471,1.222801,4.095283,4.070291,4.226086,3.813315,4.941932,-6.888013,NaN
262,6.293494,8.207598,4.001966,6.721949,5.669371,4.634967,5.231112,6.006695,3.775530,6.181916,...,2.392886,4.823415,-0.188574,-27.994546,-9.375124,-5.071796,0.752447,NaN,NaN,NaN
263,-1.018220,-2.137057,1.233520,3.200001,3.099995,4.299999,2.600002,0.500001,2.399996,4.200003,...,2.213355,2.485201,1.846992,1.193733,0.399088,1.414513,0.787056,0.152583,-6.959604,NaN
264,-0.036133,-1.730922,6.797274,-8.625442,2.897669,6.218546,3.814007,-0.385746,4.650190,3.897323,...,7.597593,5.057232,4.697992,2.920375,3.776679,3.504336,4.034378,1.441785,-3.016189,NaN
265,5.531782,-9.015570,1.051459,9.235199,0.158026,10.360697,2.680594,2.885212,-0.817821,-3.059190,...,16.665429,1.989493,2.376929,1.779873,0.755869,4.699400,3.497160,-8.100000,-8.000000,NaN

In [45]:
data_gdp_years_res = pd.concat([data_gdp_info, data_gdp_years], axis=1)

In [46]:
data_gdp_years_res

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,3.961402,7.962872,5.882353,7.307692,8.203903,2.547144,...,-1.369863,4.198232,0.300000,5.700001,2.100000,1.999999,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,0.116166,-0.186462,-2.514585,-1.354085,1.943575,4.445560,...,3.126902,4.846062,4.451771,3.025975,2.294711,3.111469,2.668322,2.050959,-2.929511,NaN
2,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-1.934778,NaN
3,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,6.577794,1.123940,2.695885,-1.148545,-0.296739,1.971769,...,5.286321,6.019889,5.908563,2.832693,0.117369,2.278490,2.927756,3.198694,-0.934728,NaN
4,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,-3.450099,0.991359,-5.838281,-23.983417,1.339363,15.000000,...,8.542188,4.954545,4.822628,0.943572,-2.580050,-0.147213,-2.003630,-0.624644,-4.040510,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.809625,3.441471,1.222801,4.095283,4.070291,4.226086,3.813315,4.941932,-6.888013,NaN
262,"Yemen, Rep.",YEM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,6.293494,8.207598,4.001966,6.721949,5.669371,...,2.392886,4.823415,-0.188574,-27.994546,-9.375124,-5.071796,0.752447,NaN,NaN,NaN
263,South Africa,ZAF,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,-0.317786,-1.018220,-2.137057,1.233520,3.200001,3.099995,...,2.213355,2.485201,1.846992,1.193733,0.399088,1.414513,0.787056,0.152583,-6.959604,NaN
264,Zambia,ZMB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,-0.481072,-0.036133,-1.730922,6.797274,-8.625442,2.897669,...,7.597593,5.057232,4.697992,2.920375,3.776679,3.504336,4.034378,1.441785,-3.016189,NaN
265,Zimbabwe,ZWE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,6.988553,5.531782,-9.015570,1.051459,9.235199,0.158026,...,16.665429,1.989493,2.376929,1.779873,0.755869,4.699400,3.497160,-8.100000,-8.000000,NaN

<h1>co2</h1>

In [87]:
co2

,Country Name,country_code,Region,Indicator Name,1990,1991,1992,1993,1994,1995,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2019.1
0,Aruba,ABW,Latin America & Caribbean,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,South Asia,CO2 emissions (metric tons per capita),0.191745,0.167682,0.095958,0.084721,0.075546,0.068468,...,0.296506,0.259295,0.185624,0.146236,0.172897,0.149789,0.131695,0.163295,0.159824,0.159824
2,Angola,AGO,Sub-Saharan Africa,CO2 emissions (metric tons per capita),0.553662,0.544539,0.543557,0.708984,0.836804,0.912141,...,0.985522,0.950696,1.036294,1.099779,1.135044,1.031811,0.813301,0.777675,0.792137,0.792137
3,Albania,ALB,Europe & Central Asia,CO2 emissions (metric tons per capita),1.819542,1.242810,0.683700,0.638307,0.645355,0.605436,...,1.669423,1.503240,1.533630,1.668337,1.603775,1.557664,1.788786,1.782739,1.692248,1.692248
4,Andorra,AND,Europe & Central Asia,CO2 emissions (metric tons per capita),7.521832,7.235379,6.963079,6.724178,6.541579,6.733479,...,5.850886,5.944654,5.942800,5.807128,6.026182,6.080600,6.104134,6.362975,6.481217,6.481217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Samoa,WSM,East Asia & Pacific,CO2 emissions (metric tons per capita),0.552836,0.609756,0.604266,0.658221,0.592807,0.705675,...,1.066843,1.057703,1.048702,1.092498,1.240246,1.542099,1.586830,1.478626,1.522124,1.522124
211,"Yemen, Rep.",YEM,Middle East & North Africa,CO2 emissions (metric tons per capita),0.567037,0.690937,0.704793,0.627105,0.653256,0.706081,...,0.963978,0.858491,1.106688,1.062211,0.511362,0.399364,0.359622,0.341068,0.380633,0.380633
212,South Africa,ZAF,Sub-Saharan Africa,CO2 emissions (metric tons per capita),6.729799,6.424622,6.175430,6.219194,6.215847,6.378790,...,7.869816,8.077958,8.138264,8.212241,7.669938,7.563739,7.641675,7.515679,7.507736,7.507736
213,Zambia,ZMB,Sub-Saharan Africa,CO2 emissions (metric tons per capita),0.340930,0.349232,0.337224,0.289956,0.241270,0.234153,...,0.217497,0.278601,0.284058,0.304550,0.312355,0.325115,0.404068,0.445489,0.380717,0.380717
214,Zimbabwe,ZWE,Sub-Saharan Africa,CO2 emissions (metric tons per capita),1.585444,1.713321,1.694416,1.539741,1.417186,1.356619,...,0.884886,0.915735,0.919824,0.889104,0.899770,0.785441,0.726297,0.857411,0.802979,0.802979

In [88]:
for col in co2.columns:
    pct_missing = np.mean(co2[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Country Name - 0%
country_code - 0%
Region - 0%
Indicator Name - 0%
1990 - 14%
1991 - 13%
1992 - 12%
1993 - 12%
1994 - 12%
1995 - 12%
1996 - 12%
1997 - 12%
1998 - 12%
1999 - 12%
2000 - 12%
2001 - 12%
2002 - 11%
2003 - 11%
2004 - 11%
2005 - 11%
2006 - 11%
2007 - 11%
2008 - 11%
2009 - 11%
2010 - 11%
2011 - 11%
2012 - 11%
2013 - 11%
2014 - 11%
2015 - 11%
2016 - 11%
2017 - 11%
2018 - 11%
2019 - 11%
2019.1 - 11%

In [89]:
co2=co2.dropna()

In [92]:
co2

,Country Name,country_code,Region,Indicator Name,1990,1991,1992,1993,1994,1995,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2019.1
1,Afghanistan,AFG,South Asia,CO2 emissions (metric tons per capita),0.191745,0.167682,0.095958,0.084721,0.075546,0.068468,...,0.296506,0.259295,0.185624,0.146236,0.172897,0.149789,0.131695,0.163295,0.159824,0.159824
2,Angola,AGO,Sub-Saharan Africa,CO2 emissions (metric tons per capita),0.553662,0.544539,0.543557,0.708984,0.836804,0.912141,...,0.985522,0.950696,1.036294,1.099779,1.135044,1.031811,0.813301,0.777675,0.792137,0.792137
3,Albania,ALB,Europe & Central Asia,CO2 emissions (metric tons per capita),1.819542,1.242810,0.683700,0.638307,0.645355,0.605436,...,1.669423,1.503240,1.533630,1.668337,1.603775,1.557664,1.788786,1.782739,1.692248,1.692248
4,Andorra,AND,Europe & Central Asia,CO2 emissions (metric tons per capita),7.521832,7.235379,6.963079,6.724178,6.541579,6.733479,...,5.850886,5.944654,5.942800,5.807128,6.026182,6.080600,6.104134,6.362975,6.481217,6.481217
5,United Arab Emirates,ARE,Middle East & North Africa,CO2 emissions (metric tons per capita),30.195189,31.778496,29.080926,29.275678,30.849333,31.125018,...,18.509457,19.207801,20.055648,20.051698,21.077642,21.480669,20.769022,18.390678,19.329563,19.329563
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Samoa,WSM,East Asia & Pacific,CO2 emissions (metric tons per capita),0.552836,0.609756,0.604266,0.658221,0.592807,0.705675,...,1.066843,1.057703,1.048702,1.092498,1.240246,1.542099,1.586830,1.478626,1.522124,1.522124
211,"Yemen, Rep.",YEM,Middle East & North Africa,CO2 emissions (metric tons per capita),0.567037,0.690937,0.704793,0.627105,0.653256,0.706081,...,0.963978,0.858491,1.106688,1.062211,0.511362,0.399364,0.359622,0.341068,0.380633,0.380633
212,South Africa,ZAF,Sub-Saharan Africa,CO2 emissions (metric tons per capita),6.729799,6.424622,6.175430,6.219194,6.215847,6.378790,...,7.869816,8.077958,8.138264,8.212241,7.669938,7.563739,7.641675,7.515679,7.507736,7.507736
213,Zambia,ZMB,Sub-Saharan Africa,CO2 emissions (metric tons per capita),0.340930,0.349232,0.337224,0.289956,0.241270,0.234153,...,0.217497,0.278601,0.284058,0.304550,0.312355,0.325115,0.404068,0.445489,0.380717,0.380717
214,Zimbabwe,ZWE,Sub-Saharan Africa,CO2 emissions (metric tons per capita),1.585444,1.713321,1.694416,1.539741,1.417186,1.356619,...,0.884886,0.915735,0.919824,0.889104,0.899770,0.785441,0.726297,0.857411,0.802979,0.802979

In [93]:
res=pd.merge(co2, data_gdp_years_res, how="left", on=["Country Name", "Country Name"])
res

,Country Name,country_code,Region,Indicator Name_x,1990_x,1991_x,1992_x,1993_x,1994_x,1995_x,...,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y,2018_y,2019_y,2020,Unnamed: 65
0,Afghanistan,AFG,South Asia,CO2 emissions (metric tons per capita),0.191745,0.167682,0.095958,0.084721,0.075546,0.068468,...,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-1.934778,NaN
1,Angola,AGO,Sub-Saharan Africa,CO2 emissions (metric tons per capita),0.553662,0.544539,0.543557,0.708984,0.836804,0.912141,...,8.542188,4.954545,4.822628,0.943572,-2.580050,-0.147213,-2.003630,-0.624644,-4.040510,NaN
2,Albania,ALB,Europe & Central Asia,CO2 emissions (metric tons per capita),1.819542,1.242810,0.683700,0.638307,0.645355,0.605436,...,1.417526,1.001987,1.774487,2.218752,3.314805,3.802197,4.071301,2.173692,-3.311239,NaN
3,Andorra,AND,Europe & Central Asia,CO2 emissions (metric tons per capita),7.521832,7.235379,6.963079,6.724178,6.541579,6.733479,...,-4.974444,-3.547597,2.504466,1.434140,3.709678,0.346072,1.588765,2.015548,-11.956058,NaN
4,United Arab Emirates,ARE,Middle East & North Africa,CO2 emissions (metric tons per capita),30.195189,31.778496,29.080926,29.275678,30.849333,31.125018,...,4.484626,5.053346,4.284304,5.105937,3.060964,2.373537,1.189856,1.677720,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,Samoa,WSM,East Asia & Pacific,CO2 emissions (metric tons per capita),0.552836,0.609756,0.604266,0.658221,0.592807,0.705675,...,-4.088724,-0.418844,0.078245,4.272189,8.054160,1.044880,-2.063273,3.580626,-2.742567,NaN
179,"Yemen, Rep.",YEM,Middle East & North Africa,CO2 emissions (metric tons per capita),0.567037,0.690937,0.704793,0.627105,0.653256,0.706081,...,2.392886,4.823415,-0.188574,-27.994546,-9.375124,-5.071796,0.752447,NaN,NaN,NaN
180,South Africa,ZAF,Sub-Saharan Africa,CO2 emissions (metric tons per capita),6.729799,6.424622,6.175430,6.219194,6.215847,6.378790,...,2.213355,2.485201,1.846992,1.193733,0.399088,1.414513,0.787056,0.152583,-6.959604,NaN
181,Zambia,ZMB,Sub-Saharan Africa,CO2 emissions (metric tons per capita),0.340930,0.349232,0.337224,0.289956,0.241270,0.234153,...,7.597593,5.057232,4.697992,2.920375,3.776679,3.504336,4.034378,1.441785,-3.016189,NaN
182,Zimbabwe,ZWE,Sub-Saharan Africa,CO2 emissions (metric tons per capita),1.585444,1.713321,1.694416,1.539741,1.417186,1.356619,...,16.665429,1.989493,2.376929,1.779873,0.755869,4.699400,3.497160,-8.100000,-8.000000,NaN

In [145]:
res.to_csv(r'A:\kbtu\result.csv')